.flex-container{
    display:flex;
    border: 1px solid burlywood;
    justify-content :flex-start;
    flex-direction: row;
    height:400px;
}
.flex-item{
    width:200px;
    height: 200px;
    background-color:deeppink;
    text-align: center;
    margin:5px;
}